<h2>About ARTADYS</h2>

<p>ARTADYS Intelligence Gedankenexperiment is a Neuro X project to monitor the Behavior and Emotions of internet users.</p>

{{#link-to "contact"}}Click here to contact us.{{/link-to}}
