<p>ARTADYS team will be delighted to meet you, in order to understand your business and answer your questions.</p>

<p>Contact us today:</p>

<p>
  ARTADYS HQ
  <address>
    145 rue de Charenton<br>
    75012 PARIS, FRANCE
  </address>
</p>

<p><a href="tel:06.23.530434">(06)235-30434</a></p>

<p><a href="mailto:contact@artadys.com">contact@artadys.com</a></p>
{{#link-to "about"}}About{{/link-to}}
